/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
  font-family: "Work Sans";
  font-weight: 400;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* shared style */
.display-flex{
    display: flex;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
header nav{
    padding-top: 30px;
    justify-content: space-between;
}
header nav ul li{
    list-style: none;
    margin-left: 50px;
}
header nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}
header nav, .hero-sec{
    max-width: 1440px;
    margin: 0px auto;
}
.hero-sec{
    text-align: center;
}
.hero-content{
    margin-top: 116px;
}
.hero-content h1{
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 24px;
}
.hero-content p{
    font-size: 16px;
    color: #727272;
    margin: 0px auto 32px auto;
}
.hero-sec button{
    padding: 21px 24px;
    margin-bottom: 40px;
    border: none;
}
header .hero-sec img{
    width: 100%;
    border: none;
}