/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
  font-family: "Work Sans";
  font-weight: 400;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* shared style */
.display-flex{
    display: flex;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
header nav{
    padding-top: 30px;
    justify-content: space-between;
}
header nav #logo{
    font-size: 3rem;
    font-weight: 700;
}
header nav ul li{
    list-style: none;
    margin-left: 50px;
}
header nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}
header nav, .hero-sec{
    max-width: 1440px;
    margin: 0px auto;
}
.hero-sec{
    text-align: center;
    padding-bottom: 35px;
}
.hero-content{
    max-width: 860px;
    margin: 0px auto;
    text-align: center;
    margin-top: 116px;
}
.hero-content h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.hero-content p{
    font-size: 16px;
    color: #727272;
    margin: 0px auto 32px auto;
}
header .hero-sec img{
    width: 100%;
}
.primary-btn{
    padding: 21px 24px;
    margin-bottom: 40px;
    border: none;
    background-color: #FF900E;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
}


/* header section media code */
@media screen and (max-width: 576px){
    .display-flex{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    #ul-list{
        flex-direction: row;
    }
}
/* feature section css code start here */
#features .features-container{
    display: flex;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 85px auto 130px auto;
}
#features .features-container .features-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
#features img{
    width: 100%;
}

#features .features-container .features-content{
    max-width: 537px;
}
#features .features-container .features-content h2{
    font-size: 2.75rem;
    margin-bottom: 24px;
}

#features .features-container .features-content h2 .quick-list{
    color: #727272;
    font-weight: 500;
}
#features .features-container .features-content h2 #onnge-color{
    color:#FF900E;
}
#features .features-container .features-content p{
       color: #727272;
       font-size: 1rem;
}
#features .primary-btn{
    margin-top: 32px;
}
/* feature section css code end here */